.calculator-container {
  background: rgb(25, 52, 136);
  background: -moz-linear-gradient(0deg, rgba(25, 52, 136, 1) 0%, rgba(146, 77, 168, 1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(25, 52, 136, 1) 0%, rgba(146, 77, 168, 1) 100%);
  background: linear-gradient(0deg, rgba(25, 52, 136, 1) 0%, rgba(146, 77, 168, 1) 100%);
  /* stylelint-disable-next-line */
  filter: progid:dximagetransform.microsoft.gradient(startColorstr="#193488", endColorstr="#924da8", GradientType=1);
  color: white;
  width: 30rem;
  height: 30rem;
  display: grid;
  grid-template-rows: 1fr 4fr 1fr;
  border-radius: 2rem;
  box-shadow: 13px 13px 20px rgb(0, 0, 0);
}

.display {
  display: flex;
  background-color: transparent;
  color: white;
  font-size: 2.3rem;
  align-items: center;
  justify-content: flex-end;
  padding-right: 1.5rem;
}

.total {
  justify-self: flex-end;
}

.hint {
  font-size: 1.3rem;
  align-self: flex-start;
  padding: 1.4rem;
  margin-right: auto;
}

.button-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.bottom-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  border-radius: 2rem;
}

button {
  border: 1px solid transparent;
  background: transparent;
  color: white;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 600;
}

.btn {
  font-size: 1.3rem;
  background: rgba(0, 0, 0, 0.5);
}

.btn:hover {
  background: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

.orange {
  background-color: #454ed4;
}

.zero {
  border-bottom-left-radius: 2rem;
}

.equals {
  border-bottom-right-radius: 2rem;
}

@media only screen and (max-device-width: 480px) {
  .calculator-container {
    max-width: 80vw;
    max-height: 120vw;
  }
}
